.weather {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.searchbar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.searchbar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weather-icon {
    width: 150px;
    margin: 30px 0;
}

.temperature {
    color: #fff;
    font-size: 80px;
    line-height: 1;
}

.location {
    color: #fff;
    font-size: 40px;
}

.weather-data {
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;

}

.weather-data .col span {
    display: block;
    font-size: 16px;

}

.weather-data .col img {
    width: 26px;
    margin-top: 10px;
}






.cities-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
    justify-content: center;
}


.forecast {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.forecast-day {
    background: #fff;
    border-radius: 12px;
    padding: 10px 15px;
    text-align: center;
    min-width: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}



.weather-data .precipitation {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 18px;
    color: #fff;
    align-items: flex-start;
}

.weather-data .precipitation p {
    margin: 0;
}